[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
requests = "*"
progress = "*"

[dev-packages]
pylint = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
